# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.log

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
media/
staticfiles/
db.sqlite3

# Environnements virtuels
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# Configuration de l'environnement
.env
*.env

# Migrations
#*/migrations/*
#!*/migrations/__init__.py

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.pytest_cache/

# Coverage
.coverage
coverage.xml
htmlcov/

# Système d'exploitation
.DS_Store
Thumbs.db

# fichiers temporaires
*.tmp
*.temp
